<header class="header hero">
  <img
    src="./images/ruskabanner.webp"
    alt="Purringbrothers Banner"
    class="banner-img"
  />
  <div class="hero-text">
    <h1>Purringbrothers</h1>
  </div>
</header>
<div class="nav-container">
  <button class="menu-toggle">☰</button>
  <nav>
    <a href="index.html">Home</a>
    <a href="blog.html">Blog</a>
    <a href="ruskapage.html">Ruska</a>
    <a href="havupage.html">Havu</a>
    <a href="nokipage.html">Noki</a>
    <a href="contact.html">Contact</a>
  </nav>
</div>
