p {
  color: #924700;
}

body {
  background-color: #fff0c1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}
.content-box {
  padding: 20px;
  margin: 10px;
  background-color: #ffcc80;
  border: 1px solid #a87b00;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.transition-button {
        background-color: lightblue;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: background-color 0.7s ease-in;
      }
      
      .transition-button:hover {
        background-color: lightcoral;
      }

      .animation-box {
        width: 100px;
        height: 100px;
        text-align: center;
        background-color: rgb(238, 144, 207);
        position: relative;
        animation: move 5s infinite alternate;
      }
      
      @keyframes move {
        from {
          left: 0;
        }
        to {
          left: 499px;
        }
      }
      .pseudo-list li:nth-child(odd) {
        background-color: rgb(206, 134, 0);
      }
      
      .pseudo-list li:nth-child(even) {
        background-color: #ffc46b;
      }
.filter-image {
        filter: grayscale(100%) blur(2px) brightness(60%);
        transition: filter 0.6s ease;
      }
      
      .filter-image:hover {
        filter: grayscale(0%);
      }
      .quote {
        position: relative;
        padding-left: 20px;
        font-style: italic;
      }
      
      .quote::before {
        content: '“';
        font-size: 40px;
        background-color: whitesmoke;
        position: absolute;
        left: 0;
        top: 0;
        color: lightgray;
      }